git+https://github.com/huggingface/transformers.git@v4.57.1
huggingface_hub
python-dotenv
sentencepiece
qwen-vl-utils
torch==2.8.0
torchvision
matplotlib
accelerate
num2words
pydantic 
requests
pillow
openai
spaces
einops
peft
